.route--add {
    padding: 20px;
    height: calc(100% - 142px);
    .acc-item {
        border: 1px solid #d8d8d8;
        border-radius: 10px;
        margin-bottom: 12px;
        overflow: hidden;
        transition: border-color 0.3s ease;

        &.is-active {
            border-color: #0a529d;
            .acc-panel {
                opacity: 1;
                padding: 16px;
            }
        }
        .acc-box{
            background: #fff;
            border: 1px solid #d8d8d8;
            border-radius: 5px;
            padding: 20px;
            & + .acc-box{
                margin-top: 20px;
            }
            &__item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap:10px;
                padding: 10px;
                border: 1px solid #c6c6c6;
                border-radius: 5px;
                &.is-active{
                    border: 1px solid #0758ac;
                    background: #eff6ff;
                    .info{
                        span{
                            color: #0758ac;
                        }
                    }
                }
                .info{
                    display: flex;
                    width: 100%;
                    span{
                        flex: 1 0 20%;
                        text-align: center;
                        & + span{
                            flex: 1 0 60%;
                            & + span{
                                flex: 1 0 20%;
                            }
                        }
                    }
                }
                .del{
                    border: none;
                    background-image: url("@/assets/images/common/ico-del10@10.png");
                    width: 10px;
                    height: 10px;
                    background-color: transparent;
                    flex: 0 0 10px;
                }
                & + .acc-box__item{
                    margin-top: 10px;
                }
            }
            &__top{
                margin: 20px 0 10px;
                display: table;
                width: 100%;
                border-top: 2px solid #000;
                border-bottom: 1px solid #dddddd;
                span{
                    display: table-cell;
                    text-align: center;
                    padding: 8px;
                }        
            }
            .acc-box-btn{
                button{
                    flex:1;
                    gap:10px;
                }
            }
        }
    }

    .acc-btn {
        width: 100%;
        background: #f9f9f9;
        border: none;
        display: flex;
        gap:5px;
        align-items: center;
        padding: 16px;
        font-size: 17px;
        font-weight: 600;
        cursor: pointer;
        transition: background 0.3s ease;
        &__num{
            color:#0758ac;
            font-weight: bold;
        }
        &__title{

        }
    }

    .acc-panel {
        height: 0;
        opacity: 0;
        overflow: hidden;
        background: #f9f9f9;
        transition: opacity 0.3s ease;
        will-change: height;
        &__desc {
            position: relative;
            font-size: 14px;
            color: #1d1d1d;
            margin-bottom: 8px;
            padding-left: 20px;
            &:after{
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                content:'';
                width: 14px;
                height: 14px;
                background-image: url("@/assets/images/common/i-mark.png");
            }
        }

        &__btn {
            width: 100%;
            padding: 10px;
            border: 1px solid #0a529d;
            background: #eff6ff;
            border-radius: 6px;
            color: #0a529d;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background: #0a529d;
                color: #fff;
            }
        }
    }
}


.acc-item.is-active .acc-panel {
  opacity: 1;
}

.route--add__btn{
    position: absolute;
    padding: 20px;
    bottom: 54px;
    width: 100%;
    background: #fff;
    button{
        flex:1;
    }
}