<!-- 이상알림 모달 -->
<div id="alertModal" class="modal">
	<div class="modal-dialog">
		<div class="modal-header">
			<span>수신이상 알림</span>
			<button onclick="closeModal('alertModal')"></button>
		</div>
		<div class="modal-content">
			<div class="modal--alerts">
				<div class="modal--alerts__col">
					<h3>BIT 수신 이상 알림</h3>
					<div class="modal--alerts__item">
						<div class="head">
							<span class="chip" style="background: #ffddd1;"><i aria-hidden="true" style="background: #f1784a;"></i>통신이상</span>
							<span class="data">2025-08-26 15:23</span>
						</div>
						<h4 class="ti">한빛아파트 (신관초방면) 통신이상</h4>
						<p class="info">(ARS : 1472 / BIT ID : 35)</p>
					</div>
					<div class="modal--alerts__item">
						<div class="head">
							<span class="chip" style="background: #ffddd1;"><i aria-hidden="true" style="background: #f1784a;"></i>통신이상</span>
							<span class="data">2025-08-26 15:23</span>
						</div>
						<h4 class="ti">한빛아파트 (신관초방면) 통신이상</h4>
						<p class="info">(ARS : 1472 / BIT ID : 35)</p>
					</div>
					<div class="modal--alerts__item">
						<div class="head">
							<span class="chip" style="background: #ffddd1;"><i aria-hidden="true" style="background: #f1784a;"></i>통신이상</span>
							<span class="data">2025-08-26 15:23</span>
						</div>
						<h4 class="ti">한빛아파트 (신관초방면) 통신이상</h4>
						<p class="info">(ARS : 1472 / BIT ID : 35)</p>
					</div>
				</div>
				<div class="modal--alerts__col">
					<h3>버스 수신 이상 알림</h3>
					<div class="modal--alerts__item">
						<div class="head">
							<span class="chip" style="background: #e7e7f6;"><i aria-hidden="true" style="background: #f1784a;"></i>통신이상</span>
							<span class="data">2025-08-26 15:23</span>
						</div>
						<h4 class="ti">32-5번 통신이상</h4>
						<p class="info">(ARS : 1472 / BIT ID : 35)</p>
					</div>
					<div class="modal--alerts__item">
						<div class="head">
							<span class="chip" style="background: #e7e7f6;"><i aria-hidden="true" style="background: #f1784a;"></i>통신이상</span>
							<span class="data">2025-08-26 15:23</span>
						</div>
						<h4 class="ti">32-5번 통신이상</h4>
						<p class="info">(ARS : 1472 / BIT ID : 35)</p>
					</div>
					<div class="modal--alerts__item">
						<div class="head">
							<span class="chip" style="background: #e7e7f6;"><i aria-hidden="true" style="background: #f1784a;"></i>통신이상</span>
							<span class="data">2025-08-26 15:23</span>
						</div>
						<h4 class="ti">32-5번 통신이상</h4>
						<p class="info">(ARS : 1472 / BIT ID : 35)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>