

<!-- 좌측 사이드바 -->
<aside class="sidenav map--side" aria-label="주 메뉴">
    <div class="sidenav__logo">
        <a href=""><img src="./assets/images/dash/white-logo.png" alt=""></a>
    </div>
    <nav class="sidenav__nav" data-simplebar>
        <details class="nav-sec">
            <summary class="sec01">
                <span><i class="icon"></i>대시보드</span>
            </summary>
            <details class="nav-sub">
                <summary>대시보드</summary>
                <ul class="nav-list">
                    <li><a href="#">대시보드</a></li>
            </details>
        </details>
        <details class="nav-sec">
            <summary class="sec02">
                <span><i class="icon"></i>지도서비스</span>
            </summary>
            <details class="nav-sub">
                <summary>버스</summary>
                <ul class="nav-list">
                    <li><a href="#">운행형황(노선)</a></li>
                    <li><a href="#">운행현황(정류장)</a></li>
                    <li><a href="#">버스활동</a></li>
                </ul>
            </details>
            <details class="nav-sub">
                <summary>정류장</summary>
                <ul class="nav-list">
                    <li><a href="#">정류장</a></li>
                </ul>
            </details>
            <details class="nav-sub">
                <summary>노선</summary>
                <ul class="nav-list">
                    <li><a href="#">정류장</a></li>
                </ul>
            </details>
        </details>

        <details class="nav-sec" open>
            <summary class="sec03">
                <span><i class="icon"></i>관리</span>
            </summary>

            <details class="nav-sub" open>
                <summary>운행 관리</summary>
                <ul class="nav-list">
                    <li class="is-active"><a href="#">배차관리</a></li>
                    <li><a href="#">노선별이력관리</a></li>
                    <li><a href="#">운행버스 현황</a></li>
                    <li><a href="#">단말기 현황</a></li>
                </ul>
            </details>

            <details class="nav-sub">
                <summary>단말기 관리</summary>
                <ul class="nav-list">
                    <li><a href="#">단말기 현황</a></li>
                    <li><a href="#">단말기 관리</a></li>
                </ul>
            </details>

            <details class="nav-sub">
                <summary>BIT 관리</summary>
                <ul class="nav-list">
                    <li><a href="#">BIT 대시보스</a></li>
                    <li><a href="#">BIT 기기 관리</a></li>
                    <li><a href="#">BIT 시나리오</a></li>
                    <li><a href="#">BIT 광고 관리</a></li>
                </ul>
            </details>

            <details class="nav-sub">
                <summary>시스템 관리</summary>
                <ul class="nav-list">
                    <li><a href="#">사용자 관리</a></li>
                    <li><a href="#">그룹 관리</a></li>
                    <li><a href="#">메뉴 관리</a></li>
                    <li><a href="#">권한 관리</a></li>
                    <li><a href="#">코드 관리</a></li>
                    <li><a href="#">도움말</a></li>
                    <li><a href="#">유지관리 업체</a></li>
                </ul>
            </details>

            <details class="nav-sub">
                <summary>웹서비스 관리</summary>
                <ul class="nav-list">
                    <li><a href="#">공지사항 관리</a></li>
                    <li><a href="#">연계 현황</a></li>
                    <li><a href="#">연계 키 관리</a></li>
                    <li><a href="#">접속 통계</a></li>
                    <li><a href="#">이용 통계</a></li>
                </ul>
            </details>
            <details class="nav-sub">
                <summary>서비스 정보</summary>
                <ul class="nav-list">
                    <li><a href="#">공지사항 관리</a></li>
                    <li><a href="#">연계 현황</a></li>
                    <li><a href="#">연계 키 관리</a></li>
                    <li><a href="#">접속 통계</a></li>
                    <li><a href="#">이용 통계</a></li>
                </ul>
            </details>
        </details>

        <details class="nav-sec">
            <summary class="sec04">
                <span><i class="icon"></i>통계</span>
            </summary>
            <details class="nav-sub">
                <summary>운행 통계</summary>
                <ul class="nav-list">
                    <li><a href="#">운행 이력 관리</a></li>
                    <li><a href="#">운행 달력 보기</a></li>
                    <li><a href="#">기간별 운행 통계</a></li>
                    <li><a href="#">돌발 상황 통계</a></li>
                </ul>
            </details>
            <details class="nav-sub">
                <summary>감지 통계</summary>
                <ul class="nav-list">
                    <li><a href="#">차량별 이벤트 수집율</a></li>
                    <li><a href="#">노선별 배차간격</a></li>
                    <li><a href="#">노선별 정류소 감지율</a></li>
                </ul>
            </details>
        </details>

        <details class="nav-sec">
            <summary class="sec05">
                <span><i class="icon"></i>알림</span>
            </summary>
            <details class="nav-sub">
                <summary>버스 수신 이상</summary>
                <ul class="nav-list">
                    <li><a href="#">버스 수신 이상</a></li>
                </ul>
            </details>
            <details class="nav-sub">
                <summary>BIT 수신 이상</summary>
                <ul class="nav-list">
                    <li><a href="#">BIT 수신 이상</a></li>
                </ul>
            </details>
        </details>
    </nav>
</aside>